<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"/>
            </svg>
            <span class="fs-4">My first Bootstrap Site</span>
        </a>
        <!DOCTYPE html>
        <html>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body {
                margin: 0;
            }

            .icon-bar {
                width: 100%;
                background-color: #555;
                overflow: auto;
            }

            .icon-bar a {
                float: left;
                width: 20%;
                text-align: center;
                padding: 15px 0;
                transition: all 0.5s ease;
                color: white;
                font-size: 36px;
            }

            .icon-bar a:hover {
                background-color: #000;
            }

            .active {
                background-color: #04AA6D;
            }
        </style>
        <body>

        <div class="icon-bar">
            <a class="active" href="/index"><i class="fa fa-home"></i></a>
            <a href="#"><i class="fa fa-search"></i></a>
            <a class="z active" href="/about"><i class="fa fa-envelope"></i></a>
            <a href="#"><i class="fa fa-globe"></i></a>
            <a href="#"><i class="fa fa-trash"></i></a>
        </div>

        </body>
        </html>


    </header>

    <div style="float:middle"><h1> Index Page</h1></div>
    <div id="main_menu" class="blue make2Bigger">
        <h1>Chia-Lin's HomePage</h1>
    </div>
    <div id="main_content">
        <p>
            <span class="red makeBigger CenterGothic">Lorem</span> ipsum dolor sit amet, consectetur adipiscing elit,
            sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet consectetur adipiscing elit pellentesque
            habitant morbi tristique senectus et. Gravida in fermentum et sollicitudin ac orci phasellus. Egestas congue
            quisque egestas diam. In massa tempor nec feugiat. Nulla facilisi morbi tempus iaculis. Id interdum velit
            laoreet id donec. Lobortis scelerisque fermentum dui faucibus. Euismod nisi porta lorem mollis aliquam. Sed
            sed
            risus pretium quam. Blandit libero volutpat sed cras ornare. Non curabitur gravida arcu ac tortor dignissim
            convallis aenean et. Hendrerit gravida rutrum quisque non tellus orci ac auctor augue. Egestas erat
            imperdiet
            sed euismod nisi. Non sodales neque sodales ut etiam sit. A diam sollicitudin tempor id eu nisl nunc. Tellus
            integer feugiat scelerisque varius morbi enim nunc. Habitant morbi tristique senectus et netus et.
        </p>
        <p>
            Egestas erat imperdiet sed euismod nisi. Lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit
            amet.
            Habitant morbi tristique senectus et netus et malesuada fames ac. Vitae tempus quam pellentesque nec nam
            aliquam
            sem et tortor. Viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat. Aliquet nibh praesent
            tristique magna sit amet purus gravida quis. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam
            etiam. Aliquam sem fringilla ut morbi tincidunt augue. Sapien et ligula ullamcorper malesuada proin libero.
            Rutrum quisque non tellus orci ac auctor augue mauris augue. Euismod in pellentesque massa placerat.
            Faucibus
            pulvinar elementum integer enim neque volutpat ac tincidunt. A diam maecenas sed enim ut sem viverra
            aliquet.
            Nisl condimentum id venenatis a. Vulputate enim nulla aliquet porttitor lacus luctus accumsan. Mattis
            aliquam
            faucibus purus in. Felis donec et odio pellentesque. Egestas maecenas pharetra convallis posuere morbi leo
            urna.
            Diam vel quam elementum pulvinar.
        </p>
        Faucibus turpis in eu mi bibendum neque egestas congue quisque. Risus quis varius quam quisque id diam. Eros in
        cursus turpis massa tincidunt dui ut ornare. Arcu vitae elementum curabitur vitae nunc sed velit dignissim. Nibh
        sit
        amet commodo nulla facilisi. Consectetur adipiscing elit pellentesque habitant morbi. Aliquam eleifend mi in
        nulla.
        Dui id ornare arcu odio ut. In mollis nunc sed id semper risus in. Ut diam quam nulla porttitor massa id neque
        aliquam vestibulum. In hendrerit gravida rutrum quisque non tellus orci ac auctor. Faucibus scelerisque eleifend
        donec pretium vulputate.
        <p>
            Sit amet porttitor eget dolor morbi. Magna fermentum iaculis eu non diam phasellus vestibulum lorem sed.
            Arcu
            non odio euismod lacinia at quis risus sed. Orci sagittis eu volutpat odio facilisis mauris sit. Aliquet
            risus
            feugiat in ante. Nisl condimentum id venenatis a condimentum vitae sapien pellentesque. Non enim praesent
            elementum facilisis leo. Egestas congue quisque egestas diam in. Facilisis leo vel fringilla est ullamcorper
            eget nulla facilisi. Vitae auctor eu augue ut lectus arcu bibendum. Sollicitudin tempor id eu nisl nunc mi.
            Odio
            euismod lacinia at quis.
        </p>
        <p>
            Dolor purus non enim praesent elementum facilisis leo. Praesent elementum facilisis leo vel fringilla est
            ullamcorper. Feugiat nibh sed pulvinar proin gravida hendrerit. Ullamcorper dignissim cras tincidunt
            lobortis
            feugiat. Sed pulvinar proin gravida hendrerit. Lacus viverra vitae congue eu. Elementum facilisis leo vel
            fringilla est ullamcorper eget nulla. Egestas purus viverra accumsan in nisl. In fermentum et sollicitudin
            ac
            orci phasellus egestas tellus. Fermentum et sollicitudin ac orci phasellus egestas tellus. Pellentesque id
            nibh
            tortor id aliquet lectus proin nibh nisl. Massa tincidunt dui ut ornare. Ut etiam sit amet nisl.
        </p>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>

    <div class="container" float:left>
        <h2>Rounded Corners</h2>
        <img src="../static/images/cinqueterre.png" class="img-rounded" alt="Cinque Terre" width="304" height="236">
        <img src="../static/images/cinqueterre.png" class="img-rounded" alt="Cinque Terre" width="304" height="236">
        <img src="../static/images/cinqueterre.png" class="img-rounded" alt="Cinque Terre" width="304" height="236">
    </div>


    </body>
    </html>
